---
import type { Page } from 'astro';
import ArrowRightIcon from 'feather-icons/dist/icons/arrow-right.svg?raw';
import ArrowLeftIcon from 'feather-icons/dist/icons/arrow-left.svg?raw';
import type { CollectionEntry } from 'astro:content';
import { Picture } from 'astro:assets';
import { IMAGE_WIDTHS } from '../helpers/image-helper';

interface Props {
  posts: Page<CollectionEntry<'posts'>>;
  titleTag?: 'h2' | 'h3';
}

const { posts, titleTag = 'h2' } = Astro.props;
---

{
  posts.data.map((post) => (
    <article class="post">
      <header>
        {titleTag === 'h2' && (
          <h2 class="title">
            <a
              href={`/blog/post/${post.id}/`}
              title={`Read the post "${post.data.title}"`}
            >
              {post.data.title}
            </a>
          </h2>
        )}
        {titleTag === 'h3' && (
          <h3 class="title">
            <a
              href={`/blog/post/${post.id}/`}
              title={`Read the post "${post.data.title}"`}
            >
              {post.data.title}
            </a>
          </h3>
        )}
        <time datetime={post.data.date.toISOString().slice(0, 10)}>
          {post.data.date.toISOString().slice(0, 10)}
        </time>
      </header>
      <div class="content">
        {post.data.image && (
          <Picture
            src={post.data.image.href}
            alt={post.data.image.alt}
            formats={['avif']}
            fallbackFormat="webp"
            widths={IMAGE_WIDTHS}
            loading="eager"
            decoding="auto"
          />
        )}
        <p>{post.data.excerpt}</p>
      </div>
      <footer>
        <nav>
          <a
            href={`/blog/post/${post.id}/`}
            title={`Read the post "${post.data.title}"`}
          >
            Read more
          </a>
        </nav>
      </footer>
    </article>
  ))
}
{
  (posts.currentPage > 1 || posts.currentPage < posts.lastPage) && (
    <nav class="button-group page-navigation-buttons">
      {posts.currentPage > 1 ? (
        <a
          class="button"
          href={`/blog/posts/${posts.currentPage - 1}/`}
          title={`View the posts in the previous page`}
        >
          <Fragment set:html={ArrowLeftIcon} />
          <span>Previous</span>
        </a>
      ) : (
        <div />
      )}
      {posts.currentPage < posts.lastPage ? (
        <a
          class="button"
          href={`/blog/posts/${posts.currentPage + 1}/`}
          title={`View the posts in the next page`}
        >
          <span>Next</span>
          <Fragment set:html={ArrowRightIcon} />
        </a>
      ) : (
        <div />
      )}
    </nav>
  )
}
