---
import { Picture } from 'astro:assets';
import banner from '../assets/banner.webp';
import avatar from '../assets/avatar.jpg';
import { IMAGE_SIZES, IMAGE_WIDTHS } from '../helpers/image-helper';
import BaseLayout from './base-layout.astro';

interface Props {
  title: string;
  description: string;
  path: string;
  image?: string;
  lang?: string;
}

const { title, description, path, image, lang } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  path={path}
  image={image}
  lang={lang}
  themeColor="1d295d"
>
  <Fragment slot="scripts">
    <script src="../scripts/blog.ts"></script>
  </Fragment>
  <a href="#main-content" class="sr-only">Skip to main content</a>
  <div class="page">
    <header>
      <div class="page-header-banner">
        <Picture
          src={banner}
          alt=""
          formats={['avif', 'webp']}
          widths={IMAGE_WIDTHS}
          sizes={IMAGE_SIZES}
          loading="eager"
        />
      </div>
      <div class="page-header-content">
        <Picture
          src={avatar}
          formats={['avif', 'webp']}
          width="128"
          height="128"
          alt="Nikos Printezis"
        />
        <h1>Nikos Printezis</h1>
        <p>
          Hi! I'm Nikos and I'm a full stack engineer. I like coding all sorts
          of stuff, although I focus more on front end development with native
          JS/CSS features, React and 2D games with PixiJS. I'm really looking
          forward to provide more and more content in this website and I hope
          you enjoy my blog and games.
        </p>
        <nav>
          <ul>
            <li>
              <a href="/">Portfolio</a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
            <li>
              <a
                href="https://github.com/printezisn"
                target="_blank"
                rel="noreferrer">GitHub</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="main-content">
      <slot />
    </main>
    <footer>
      &copy; {new Date().getFullYear()} Nikos Printezis. All Rights Reserved.
    </footer>
  </div>
</BaseLayout>
