---
import { Picture } from 'astro:assets';
import banner from '../assets/banner.webp';
import avatar from '../assets/avatar.webp';
import { IMAGE_SIZES, IMAGE_WIDTHS } from '../helpers/image-helper';
import BaseLayout from './base-layout.astro';

import RobotoNormal from '@fontsource/roboto/files/roboto-latin-400-normal.woff2';
import RobotoNormalItalic from '@fontsource/roboto/files/roboto-latin-400-italic.woff2';
import RobotoBold from '@fontsource/roboto/files/roboto-latin-700-normal.woff2';
import RobotoBolItalic from '@fontsource/roboto/files/roboto-latin-700-italic.woff2';
import LoraNormal from '@fontsource/lora/files/lora-latin-400-normal.woff2';
import LoraBold from '@fontsource/lora/files/lora-latin-700-normal.woff2';
import CategoriesWidget from '../components/categories-widget.astro';

const fonts = [
  RobotoNormal,
  RobotoNormal,
  RobotoNormalItalic,
  RobotoNormalItalic,
  RobotoBold,
  RobotoBold,
  RobotoBolItalic,
  RobotoBolItalic,
  LoraNormal,
  LoraBold,
];

interface Props {
  title: string;
  description: string;
  path: string;
  image?: string;
  lang?: string;
  pageTitle?: string;
  sidebar?: boolean;
}

const {
  title,
  description,
  path,
  image,
  lang,
  pageTitle,
  sidebar = false,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  path={path}
  image={image}
  lang={lang}
>
  <Fragment slot="preloads">
    {
      fonts.map((font) => (
        <link
          rel="preload"
          as="font"
          type="font/woff2"
          href={font}
          crossorigin="anonymous"
        />
      ))
    }
  </Fragment>
  <Fragment slot="scripts">
    <script src="../scripts/blog.ts"></script>
  </Fragment>
  <Fragment slot="structured-data">
    <slot name="structured-data" />
  </Fragment>
  <a href="#main-content" class="sr-only" rel="nofollow">Skip to main content</a
  >
  <div class="page">
    <header class="page-header">
      <div class="page-header-banner">
        <Picture
          src={banner}
          alt=""
          formats={['avif']}
          fallbackFormat="webp"
          widths={IMAGE_WIDTHS}
          sizes={IMAGE_SIZES}
          loading="eager"
          decoding="auto"
        />
      </div>
      <div class="page-header-content">
        <Picture
          src={avatar}
          formats={['avif']}
          fallbackFormat="webp"
          width="128"
          height="128"
          alt="Nikos Printezis"
          loading="eager"
          decoding="auto"
        />
        <h1>Nikos Printezis</h1>
        <p>
          Hi! I'm Nikos and I'm a full stack engineer. I like coding all sorts
          of stuff, although I focus more on front end development with native
          JS/CSS features, React and 2D games with PixiJS. I'm really looking
          forward to provide more and more content in this website and I hope
          you enjoy my blog and games.
        </p>
        <nav>
          <ul>
            <li>
              <a href="/">Portfolio</a>
            </li>
            <li>
              <a href="/blog/">Blog</a>
            </li>
            <li>
              <a
                href="https://github.com/printezisn"
                target="_blank"
                rel="noreferrer">GitHub</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="main-content">
      {pageTitle && <h2 class="section-title">{pageTitle}</h2>}
      {
        sidebar ? (
          <div class="content-with-sidebar">
            <slot />
            <CategoriesWidget />
          </div>
        ) : (
          <slot />
        )
      }
    </main>
    <footer>
      &copy; {new Date().getFullYear()} Nikos Printezis. All Rights Reserved.
    </footer>
  </div>
</BaseLayout>
