---
import BaseLayout from './base-layout.astro';
import type { BreadcrumbPage } from '@global-types/breadcrumb';

import RobotoNormal from '@fontsource/roboto/files/roboto-latin-400-normal.woff2';
import RobotoNormalItalic from '@fontsource/roboto/files/roboto-latin-400-italic.woff2';
import RobotoBold from '@fontsource/roboto/files/roboto-latin-700-normal.woff2';
import RobotoBolItalic from '@fontsource/roboto/files/roboto-latin-700-italic.woff2';
import LoraNormal from '@fontsource/lora/files/lora-latin-400-normal.woff2';
import LoraBold from '@fontsource/lora/files/lora-latin-700-normal.woff2';
import PageContent from '@components/page-content/index.astro';
import Page from '@components/page/index.astro';
import PageHeader from '@components/page-header/index.astro';
import PageFooter from '@components/page-footer/index.astro';

const fonts = [
  RobotoNormal,
  RobotoNormal,
  RobotoNormalItalic,
  RobotoNormalItalic,
  RobotoBold,
  RobotoBold,
  RobotoBolItalic,
  RobotoBolItalic,
  LoraNormal,
  LoraBold,
];

interface Props {
  title: string;
  description: string;
  path: string;
  image?: string;
  lang?: string;
  pageTitle?: string;
  pageLayout?: 'normal' | 'full' | 'sidebar';
  breadcrumbList: BreadcrumbPage[];
  index?: boolean;
  lastUpdateTime: Date;
}

const {
  title,
  description,
  path,
  image,
  lang,
  pageTitle,
  pageLayout = 'normal',
  breadcrumbList,
  index = true,
  lastUpdateTime,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  path={path}
  image={image}
  lang={lang}
  breadcrumbList={breadcrumbList}
  index={index}
  lastUpdateTime={lastUpdateTime}
>
  <Fragment slot="preloads">
    {
      fonts.map((font) => (
        <link
          rel="preload"
          as="font"
          type="font/woff2"
          href={font}
          crossorigin="anonymous"
        />
      ))
    }
  </Fragment>
  <Fragment slot="scripts">
    <script src="@scripts/blog.ts"></script>
  </Fragment>
  <Fragment slot="structured-data">
    <slot name="structured-data" />
  </Fragment>
  <a href="#main-content" class="sr-only" rel="nofollow">
    Skip to main content
  </a>
  <Page>
    <PageHeader />
    <PageContent
      title={pageTitle}
      breadcrumbList={breadcrumbList}
      layout={pageLayout}
    >
      <slot />
    </PageContent>
    <PageFooter />
  </Page>
</BaseLayout>
