---
import type { Page } from 'astro';
import ArrowRightIcon from 'feather-icons/dist/icons/arrow-right.svg';
import ArrowLeftIcon from 'feather-icons/dist/icons/arrow-left.svg';
import Button from '@components/button/index.astro';
import ButtonGroup from '@components/button-group/index.astro';
import type { CollectionEntry } from 'astro:content';
import { Picture } from 'astro:assets';
import styles from './styles.module.scss';
import Title from '@components/title/index.astro';

interface Props {
  posts: Page<CollectionEntry<'posts'>>;
  titleLevel?: 2 | 3;
  nextPage?: string;
  prevPage?: string;
}

const { posts, titleLevel = 2, prevPage, nextPage } = Astro.props;
---

{
  posts.data.map((post) => (
    <article class={styles.post}>
      <header>
        <Title level={titleLevel}>
          <a
            href={`/blog/post/${post.id}/`}
            title={`Read the post "${post.data.title}"`}
          >
            {post.data.title}
          </a>
        </Title>
        <time datetime={post.data.date.toISOString().slice(0, 10)}>
          {post.data.date.toLocaleDateString('en-US', {
            dateStyle: 'long',
          })}
        </time>
      </header>
      <div class={styles.content}>
        {post.data.image && (
          <a
            href={`/blog/post/${post.id}/`}
            title={`Read the post "${post.data.title}"`}
          >
            <Picture
              src={post.data.image.href}
              alt={post.data.image.alt}
              formats={['avif']}
              fallbackFormat="webp"
              width={700}
              loading="eager"
              decoding="auto"
            />
          </a>
        )}
        <p>{post.data.excerpt}</p>
      </div>
      <footer>
        <nav>
          <a
            href={`/blog/post/${post.id}/`}
            title={`Read the post "${post.data.title}"`}
          >
            Read more
          </a>
        </nav>
      </footer>
    </article>
  ))
}
{
  (prevPage || nextPage) && (
    <div class={styles.pageButtons}>
      <ButtonGroup spaceBetween>
        {prevPage ? (
          <Button
            type="link"
            href={prevPage}
            title={`View the posts in the previous page`}
          >
            <ArrowLeftIcon />
            <span>Previous</span>
          </Button>
        ) : (
          <div />
        )}
        {nextPage ? (
          <Button
            type="link"
            href={nextPage}
            title={`View the posts in the next page`}
          >
            <span>Next</span>
            <ArrowRightIcon />
          </Button>
        ) : (
          <div />
        )}
      </ButtonGroup>
    </div>
  )
}
